<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Jordy Sinaulan</title>
        <link rel="stylesheet" href="styles.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
            integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>
    <body>
        <section id="main">
            <div class="main-center">
                <h1>Misael Jordy Sinaulan</h1>
                <div class="socials">
                    <ul>
                        <li>
                            <a href="#"
                                ><i class="fa-brands fa-facebook fa-2xl"></i
                            ></a>
                        </li>
                        <li>
                            <a href="#"
                                ><i class="fa-brands fa-instagram fa-2xl"></i
                            ></a>
                        </li>
                        <li>
                            <a href="#"
                                ><i class="fa-brands fa-steam fa-2xl"></i
                            ></a>
                        </li>
                        <li>
                            <a href="#"
                                ><i class="fa-brands fa-github fa-2xl"></i
                            ></a>
                        </li>
                    </ul>
                </div>
            </div>
            <a href="#profile" class="down-arrow"
                ><i class="fa-solid fa-angle-down fa-xl"></i
            ></a>
        </section>
        <section id="profile">
            <div class="user-left">
                <div class="user">
                    <img src="./images/profile-pic.png" alt="" width="256px" />
                    <div class="user-details">
                        <h3>Misael Jordy Sinaulan</h3>
                        <p>Computer Science Student</p>
                    </div>
                </div>
                <div class="personal-data">
                    <div class="pdata">
                        <div class="pd">
                            <p>DOB</p>
                            <p class="pd-r">Balikpapan, July 16th 2002</p>
                        </div>
                        <div class="pd">
                            <p>Gender</p>
                            <p class="pd-r">Male</p>
                        </div>
                        <div class="pd">
                            <p>Address</p>
                            <p class="pd-r">Tareran, Minahasa Selatan</p>
                        </div>
                        <div class="pd">
                            <p>Nationality</p>
                            <p class="pd-r">Indonesia</p>
                        </div>
                        <div class="pd">
                            <p>Religion</p>
                            <p class="pd-r">Christian</p>
                        </div>
                    </div>
                    <hr />
                    <div class="educations">
                        <div class="rb-container">
                            <ul class="rb">
                                <li class="rb-item" ng-repeat="itembx">
                                    <div class="timestamp">
                                        2008 - 2014<br />
                                    </div>
                                    <div class="item-title">
                                        <span>SD Advent Talaitad</span>
                                        <br />
                                        Suluun Taretan, Minahasa Selatan
                                    </div>
                                </li>
                                <li class="rb-item" ng-repeat="itembx">
                                    <div class="timestamp">
                                        2014 - 2017<br />
                                    </div>
                                    <div class="item-title">
                                        <span>SMP Negeri 2 Suluun Tareran</span>
                                        <br />
                                        Suluun Tareran, Minahasa Selatan
                                    </div>
                                </li>
                                <li class="rb-item" ng-repeat="itembx">
                                    <div class="timestamp">
                                        2017 - 2020<br />
                                    </div>
                                    <div class="item-title">
                                        <span>SMK Negeri 1 Tareran</span><br />
                                        Tareran, Minahasa Selatan
                                    </div>
                                </li>
                                <li class="rb-item" ng-repeat="itembx">
                                    <div class="timestamp">
                                        2020 - Present<br />
                                    </div>
                                    <div class="item-title">
                                        <span>Universitas Klabat</span><br />
                                        Airmadidi, Indonesia
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-others">
                <h1>Awards</h1>
                <div class="awards">
                    <br />
                    <div class="awards-content">
                        <h3>Lomba kreatif siswa(LKS) tingkat kabupaten/kota</h3>
                        <p>
                            LKS 2019 winner in the field of IT Network and
                            system administration
                        </p>
                    </div>
                    <div class="awards-content">
                        <h3>Lomba kreatif siswa(LKS) tingkat provinsi</h3>
                        <p>
                            Second place in LKS 2019 in the field of IT Network
                            and System Administration
                        </p>
                    </div>
                    <div class="awards-content">
                        <h3>Soon</h3>
                    </div>
                </div>
                <hr />
                <div class="skills">
                    <h1>Skills</h1>
                    <br />
                    <ul>
                        <li><span class="c"></span><em>C</em></li>
                        <li><span class="cpp"></span><em>C++</em></li>
                        <li><span class="python"></span><em>Python</em></li>
                        <li><span class="html"></span><em>HTML</em></li>
                        <li><span class="css"></span><em>CSS</em></li>
                        <li><span class="js"></span><em>JavaScript</em></li>
                    </ul>
                </div>
                <hr />
                <h1>Hobby</h1>
                <div class="hobby">
                    <div class="hobby-content">
                        <h3>Playing Game</h3>
                        <ul>
                            <li>Genshin Impact</li>
                            <li>Valorant</li>
                            <li>CSGO</li>
                            <li>GTA V</li>
                        </ul>
                    </div>
                    <div class="hobby-content">
                        <h3>Coding</h3>
                        <ul>
                            <li>C/C++</li>
                            <li>Python</li>
                            <li>Visual Basic</li>
                            <li>HTML, CSS, JS</li>
                        </ul>
                    </div>
                    <div class="hobby-content">
                        <h3>Install OS dan Config Server</h3>
                        <ul>
                            <li>Windows 10-11, WIndows Server</li>
                            <li>Kali Linux, Manjaro, Debian, Ubuntu, Etc</li>
                            <li>MacOS(Macintosh)</li>
                        </ul>
                    </div>
                    <div class="hobby-content">
                        <h3>Others</h3>
                        <ul>
                            <li>Networking</li>
                            <li>Touring</li>
                            <li>Makan</li>
                        </ul>
                    </div>
                </div>
                <h1>Contact me</h1>
                <div class="contact">
                    <div class="container">
                        <form action="/action_page.php">
                            <label for="fname">First Name</label>
                            <input
                                type="text"
                                id="fname"
                                name="firstname"
                                placeholder="Your name.."
                            />

                            <label for="lname">Last Name</label>
                            <input
                                type="text"
                                id="lname"
                                name="lastname"
                                placeholder="Your last name.."
                            />

                            <label for="subject">Subject</label>
                            <textarea
                                id="subject"
                                name="subject"
                                placeholder="Write something.."
                                style="height: 200px"
                            ></textarea>

                            <input type="submit" value="Submit" />
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="footer-container">
                <h2>Misael Jory Sinaulan</h2>
                <ul>
                    <li>
                        <a href="#"
                            ><i class="fa-brands fa-facebook fa-2xl"></i
                        ></a>
                    </li>
                    <li>
                        <a href="#"
                            ><i class="fa-brands fa-instagram fa-2xl"></i
                        ></a>
                    </li>
                    <li>
                        <a href="#"
                            ><i class="fa-brands fa-steam fa-2xl"></i
                        ></a>
                    </li>
                    <li>
                        <a href="#"
                            ><i class="fa-brands fa-github fa-2xl"></i
                        ></a>
                    </li>
                </ul>
                <p>&#169; 2021 copyright all right reserved</p>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/js/scroll.js"></script>
    </body>
</html>
